* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kalam", cursive;
}

.navbar {
    position: fixed;
    z-index: 99;
}
.navbar ul {
    display: flex;
    list-style-type: none;
}
.navbar li a {
    display: flex;
    color: #f2b279;
    text-decoration: none;
    padding: 16px;
    font-size: 1.8em;
    transition: background-color 1s ease;
}

.navbar li a:hover {
    color: #d96704;
    background-color: black;
    border-radius: 5px;
    padding: 16px;
    font-size: 1.8em;
}

.section-headline {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f2b279;
    font-size: 3em;
}
.section-headline-menu {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    text-decoration: underline;
    color: #d96704;
}
.section {
    height: 100vh;
    position: relative;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu {
    position: absolute;
    top: 10%;
    left: 20px;
    color: #f2b279;
    font-size: 1.3em;
    border: 2px solid #d96704;
    background-image: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.479),
        rgba(0, 0, 0, 0.501)
    );
    padding: 24px;
    max-width: 90%;
    word-wrap: break-word;
}

.section-1 {
    background-image: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.514),
            rgba(0, 0, 0, 0.514)
        ),
        url(/Backgrounds/pizza-oven.jpg);
}
.section-2 {
    background-image: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.601),
            rgba(0, 0, 0, 0.605)
        ),
        url(/Backgrounds/pizza-1.jpg);
}
.section-3 {
    background-image: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.514),
            rgba(0, 0, 0, 0.514)
        ),
        url(/Backgrounds/burger-1.jpg);
}
.section-4 {
    background-image: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.514),
            rgba(0, 0, 0, 0.514)
        ),
        url(/Backgrounds/steak-1.jpg);
}
.section-5 {
    background-image: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.503),
            rgba(0, 0, 0, 0.501)
        ),
        url(/Backgrounds/pasta-1.jpg);
}
.section-6 {
    background-image: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.514),
            rgba(0, 0, 0, 0.514)
        ),
        url(/Backgrounds/soup-1.jpg);
}
.section-7 {
    background-image: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.514),
            rgba(0, 0, 0, 0.514)
        ),
        url(/Backgrounds/salat-1.jpg);
}
.section-8 {
    background-image: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.514),
            rgba(0, 0, 0, 0.514)
        ),
        url(/Backgrounds/desert-2.jpg);
}
.section-9 {
    background-image: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.514),
            rgba(0, 0, 0, 0.514)
        ),
        url(/Backgrounds/drinks-1.jpg);
}
.section-10 {
    background-image: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.514),
            rgba(0, 0, 0, 0.514)
        ),
        url(/Backgrounds/background-1.jpg);
}

.aside {
    text-align: center;
    padding: 16px;
    font-size: 1.3em;
    color: #f2b279;
    border: 2px solid #d96704;
    background-image: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.316),
            rgba(0, 0, 0, 0.315)
        ),
        url(/Backgrounds/background-1.jpg);
}

.special {
    position: absolute;
    bottom: 73px;
    left: 42px;
    font-size: 1.4em;
    line-height: 26px;
    letter-spacing: 2px;
    background-image: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.518),
        rgba(0, 0, 0, 0.518)
    );
    padding: 38px 64px;
}

.special li {
    color: #f29f05;
}
.special-title {
    color: white;
}

.special-title {
    margin-bottom: 8px;
    color: #f29f05;
}
