* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kalam", cursive;
}

.navbar {
    position: fixed;
    background-image: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.479),
        rgba(0, 0, 0, 0.501)
    );
    width: 100%;
    z-index: 99;
}
.navbar ul {
    display: flex;
    list-style-type: none;
}
.navbar li a {
    display: flex;
    color: #f2b279;
    text-decoration: none;
    padding: 16px;
    font-size: 1.8em;
    transition: background-color 1s ease;
}

.navbar li a:hover {
    color: #d96704;
    background-color: black;
    border-radius: 5px;
    padding: 16px;
    font-size: 1.8em;
}
